.cell {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    background-color: darkcyan;
    color: darkcyan;
    margin-right: -1px;
    margin-top: -1px;
}

.cellShip {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    background-color: blue;
    color: blue;
    margin-right: -1px;
    margin-top: -1px;
}

.miss {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    background-color: darkgray;
    color: darkgray;
    margin-right: -1px;
    margin-top: -1px;
}

.cellEnemyShip {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    background-color: red;
    color: red;
    margin-right: -1px;
    margin-top: -1px;
}

.shipPlacementInner {
    height: 400px;
    width: 240px;
    margin-right: -40px;
    line-height: 50%;
    margin-top: 60px;
}

.shipToPlace {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    background-color: blue;
    color: blue;
    margin-right: -1px;
}


.shipToPlaceSelected {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    background-color: green;
    color: green;
    margin-right: -1px;
}

.cellDamaged {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    background-color: rgb(53, 53, 53);
    color: rgb(53, 53, 53);
    margin-right: -1px;
    margin-top: -1px;
}

.cellPlaced {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    background-color: lightcoral;
    color: lightcoral;
    margin-right: -1px;
    margin-top: -1px;
}

.cell:hover {
    color: lightcoral;
    background-color: lightcoral;
    transition: 0.2s;
}

.endCell {
    height: 20px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(170, 194, 193);
    border: black;
    margin-top: 5px;
    margin-right: -1px;
}

.endCellCorner {
    height: 20px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    border: black;
    margin-right: -1px;
}

.gameBoardRender {
    height: 500px;
    width: 470px;
    margin-right: 50px;
    text-align: center;
}

.gameBoardRender2 {
    height: 500px;
    width: 470px;
    text-align: center;
}

.gameBoardOuter {
    width: 1460px;
    display: flex;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.708);
}

.gameBoardOuterGreater {
    display: flex;
    align-items: center;
    justify-content: center;
}