h2 {
  padding-left: 225px;
}

body {
  background-color: aliceblue;
}

.cell {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: lightgray;
  color: lightgray;
  margin-right: -1px;
  margin-top: -1px;
}

.cellShip {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: red;
  color: red;
  margin-right: -1px;
  margin-top: -1px;
}

.cellDamaged {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: grey;
  color: grey;
  margin-right: -1px;
  margin-top: -1px;
}

.cell:hover {
  color: lightcoral;
  background-color: lightcoral;
  transition: 0.2s;
}

.endCell {
  height: 20px;
  width: 40px;
  background-color: aliceblue;
  color: black;
  border: aliceblue;
  margin-right: -1px;
  padding-top: 11px;
}

.endCellCorner {
  height: 20px;
  width: 40px;
  background-color: aliceblue;
  color: aliceblue;
  border: aliceblue;
  margin-right: -1px;
}

.gameBoardRender {
  height: 500px;
  width: 480px;
}

.gameBoardRender2 {
  height: 500px;
  width: 480px;
}

.gameBoardOuter {
  display: flex;
  position: fixed;
  background-color: aliceblue;
}