h2 {
  padding-left: 290px;
}

body {
  background-color: aliceblue;
}

.cell {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: lightgray;
  color: lightgray;
  margin-right: -1px;
  margin-top: -1px;
}

.cellShip {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: red;
  color: red;
  margin-right: -1px;
  margin-top: -1px;
}

.cellDamaged {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: grey;
  color: grey;
  margin-right: -1px;
  margin-top: -1px;
}

.cell:hover {
  color: lightcoral;
  background-color: lightcoral;
  transition: 0.2s;
}

.endCell {
  height: 20px;
  width: 50px;
  background-color: aliceblue;
  color: black;
  border: aliceblue;
  margin-top: 5px;
  margin-right: -1px;
}

.endCellCorner {
  height: 20px;
  width: 50px;
  background-color: aliceblue;
  color: aliceblue;
  border: aliceblue;
  margin-right: -1px;
}

.gameBoardRender {
  height: 500px;
  width: 700px;
}

.gameBoardRender2 {
  height: 500px;
  width: 700px;
}

.gameBoardOuter {
  display: flex;
  background-color: aliceblue;
}

.gameBoardOuterGreater {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}